/* GENEL */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background: linear-gradient(180deg, #1a0033, #120022);
    color: white;
}


.header {
    background: black;
    text-align: center;
    padding: 20px;
    font-size: 26px;
    letter-spacing: 2px;
}


.content {
    padding: 30px 60px;
}

.section {
    padding: 20px 0;
    border-bottom: 3px solid #00cfff;
}

.section:last-child {
    border-bottom: none;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

p {
    font-size: 17px;
    line-height: 1.6;
}

.link a {
    color: #00cfff;
    text-decoration: none;
    font-size: 17px;
}

.link a:hover {
    text-decoration: underline;
}


.footer {
    width: 100%;
    background: black;
    border-top: 3px solid #00cfff;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    color: #00cfff;
    text-decoration: none;
}


@media (max-width: 768px) {

    .content {
        padding: 20px;
    }

    .header {
        font-size: 22px;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    p, .link a {
        font-size: 16px;
    }

    .footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
